
*{
    margin: 0;
    padding: 0;
}
.nav--bar{
    /* background-color: #261e17;  */
    display: flex;
    justify-content: space-around;
    max-width: 100%;
}

.logo a{
    color: green;
}

.logo{
    padding: 0.5rem;
    font-size: 1.5rem;

}


nav{
    
    height: 50px;
    align-items: center;
    background-color: #261e17;
    display: flex;
    height: 4rem;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
}

nav ul li{
    list-style: none;
    display: inline-block;
}
nav ul li a{
    color: white;
    padding: 0 20px ;
    text-decoration: none;
    line-height: 50px;
    font-size: 20px;
    font-family: Urbanist,sans-serif;
}

a:hover{
    color: green;
}
.mobile-menu-icon{
    display: none;
}

.cart span {
  color: black;
  
}

@media (max-width: 768px) {
    .logo {
      display: flex;
      position: absolute;
      top: 15px;
      left: 35px;
    }
    .nav-links {
      display: none;
    }
    .nav-links-mobile {
      position: absolute;
      display: block;
      list-style: none;
      box-shadow: rgba(50, 50, 93, 0.23) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
      left: 0;
      top: 10%;
      transition: all 0.5s ease-in-out;
      width: 100%;
      background-color: #261e17;
    }
    ul li {
      padding: 10px;
      width: 100%;
      transition: all 0.5s ease-in-out;
      text-align: center;
    }
    .mobile-menu-icon {
        border: none;
      position: absolute;
      display: block;
      right: 30px;
      background-color: #261e17;
    }
  }